* {
  margin: 0;
  /* padding: 25px; */
  color: antiquewhite;
  background-color: rgb(71, 71, 244);
}

.card {
  display: flex;
}

#forecast {
  display: flex;
  flex-direction: row;
  border: 25px;
}

#container {
  border-radius: 5px;
}
/* :root {
  --light-blue: #00a0e9;
  --light-grey: #d3d3d3;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.head {
  background-color: var(--light-blue);
  padding: 20px;
  text-align: center;
  color: #fff;
}

#citySearch {
  font-weight: bold;
  color: var(--light-blue);
  margin-top: 20px;
}

#searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#searchCity {
  padding: 10px;
  width: 300px;
}

#submitButton {
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#historyButton {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-top: 20px;
}

#historyButton button {
  margin-bottom: 5px;
  background-color: var(--light-grey);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  padding: 20px;
}

.card {
  background-color: var(--light-blue);
  padding: 20px;
  color: #fff;
}

.forecast-card {
  background-color: var(--light-grey);
  padding: 20px;
  color: #fff;
}

.iconClass {
  height: 25px;
  width: 25px;
} */
