:root {
  --light-blue: #00a0e9;
  --light-grey: #d3d3d3;
}

* {
  color: black;
  /* background-color: rgba(71, 71, 244, 0.8); */
}

body {
}
.head {
  padding: 25px;
  background-color: var(--light-blue);
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center !important;
  margin: 25px;
  background-color: var(--light-blue);
}
#citySearch {
  padding-left: 25px;
  padding-bottom: 10px;
}

#searchContainer {
  padding-left: 25px;
  padding-bottom: 10px;
}

#historyButton {
  padding-left: 25px;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
}

#forecast {
  display: flex;
  border: 25px;
}

#container {
  display: flex;
  flex: start;
  border-radius: 5px;
}

#currentTemp {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: flex-end !important;
  background-color: var(--light-blue);
}

.iconClass {
  width: 70px;
}
